---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "~layouts/Layout.astro";

interface Props {
  post: CollectionEntry<'post'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('post');

  return posts.map((post) => ({
    params: {
      slug: post.slug
    },
    props: {
      post
    }
  }));
}

const { post: { data } } = Astro.props as Props;
const { Content } = await Astro.props.post.render();
---

<Layout title={data.title} description={`Read about ${data.title}`}>
  <main class="content_post">
    <Image src={data.cover as ImageMetadata} alt={data.title} />
    <Content />
  </main>
</Layout>
