---
import './../styles/global.scss';

import HeadCommon from '../components/Head/HeadCommon.astro';
import HeadFont from '../components/Head/HeadFont.astro';

import { SITE } from '../config';
import Footer from '../components/Footer/Footer.astro';

export interface Props {
  title: string;
  description: string;
}
---

<html dir="ltr" lang={SITE.language.slice(0, 2)}>
  <head>
    <title>{Astro.props.title}</title>
    <HeadCommon />
    <HeadFont />
  </head>

  <body>
    <slot />
    <Footer />
  </body>
</html>
